.html2{
    background-image:url(../abstract.png);
    background-repeat:no-repeat;

 min-width: 100%;
 min-height: 100%;

    
}

tr:nth-child(odd){
    background-color: rgb(161, 226, 221);
   
}

tr:nth-child(odd):hover{
    background-color: rgb(4, 46, 46);
    color: whitesmoke;
}

tr:nth-child(even){
    background-color: rgb(83, 129, 118);
}

tr:nth-child(even):hover{
    background-color: rgb(14, 92, 92);
    color: whitesmoke;
}

img{
    transform: scale(2);
}