
table{ border-collapse: collapse;}

html{
    background-image:url(abstract.png);
    background-repeat:no-repeat;

 min-width: 100%;
 min-height: 100%;

    
}


/**tr, td{
    border: 2px solid rgb(245, 240, 240);
    background-color: rgb(154, 201, 177);}*/

tr:nth-child(odd){
    background-color: rgb(137, 202, 197);
}

tr:nth-child(even){
    background-color: rgb(107, 170, 154);
}

.ing{
    color:rgb(25, 105, 36);
}


h1{
    position: relative;
    height: 100px;
}

h1 img{
    vertical-align: middle;
    width: 100px;
    position: absolute;
    right: 0;
}