.html1{
    background-image:url(../abstract.png);
    background-repeat:no-repeat;
    background-size: 100%;

    
}

h1{
    position: relative;
    height: 100px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

img:hover{
    transform: scale(2);
}
